.home-container {
    height: 100vh;
    position: relative;
}

.home-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.home-logo {
    position: absolute;
    top: 20px;
    left: 110px;
}

.home-content-container {
    width: 53%;
    height: 100%;
    padding: 20px 50px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-content {
    margin-top: 120px;
    width: 500px;
}

.home-main-text {
    font-size: var(--main-text-size);
    font-weight: var(--main-text-bold);
    line-height: var(--main-text-lineheight);
    margin-bottom: 10px;
    color: var(--black);
}
.home-text {
    color: var(--text-gray);
    font-weight: 500;
}
.points {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.points:last-child {
    margin-bottom: 0;
}
.points img {
    margin-right: 12px;
}
.partners img {
    cursor: pointer;
}

.home-main-img {
    width: 47%;
    background-color: tomato;
    background: url("../img/HeroImage.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1348px) {
    .home-logo {
        left: 80px;
    }
}
@media screen and (max-width: 1226px) {
    .home-logo {
        left: 50px;
    }
}

@media screen and (max-width: 950px) {
    .home-main {
        flex-direction: column;
    }

    .home-logo {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        padding: 30px;
    }

    .home-main-img {
        width: 100%;
        height: 400px;
        background: url("../img/HeroImageTablet.jpg");
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .home-content-container {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: flex-start;
    }
    .home-content {
        margin-top: 50px;
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .home-content-container {
        display: block;
        padding: 20px;
    }
    .home-content {
        margin-top: 20px;
        width: 100%;
    }
    .home-logo {
        padding: 20px;
    }
}
