.sl-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.sl-content-container {
    flex: 1.3;
    height: 100%;
}
.sl-content {
    width: 500px;
    margin: 30px auto;
}
.sl-head {
    display: flex;
    justify-content: space-between;
}
.sl-head div {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
}
.backToCamp {
    text-decoration: none;
}
.sl-head div:hover {
    text-decoration: underline;
}

.sl-main-text {
    font-size: var(--main-text-size);
    font-weight: var(--main-text-bold);
    line-height: var(--main-text-lineheight);
    color: black;
    margin: 140px 0 20px 0;
}

.sl-input-form {
    margin-bottom: 15px;
}
.sl-input-form label,
.sl-input-form .sl-input {
    display: block;
}
.sl-input-form label {
    margin-bottom: 8px;
    font-weight: 500;
}
.sl-input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--light-gray);
    padding: 16px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}
#pwd {
    margin-bottom: 30px;
}

.goToText {
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
}
.goToRoute {
    font-weight: 600;
    color: #0059ff;
    font-size: 16px;
}

.sl-quote-container {
    flex: 1;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.quote-info {
    width: 55%;
}
.quote {
    color: black;
    font-weight: var(--main-text-bold);
}
.double-quotes {
    font-size: 35px;
    line-height: var(--main-text-lineheight);
    color: black;
}

.quote-poster {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.quote-poster img {
    margin-right: 15px;
}
.quote-poster h4 {
    color: black;
    font-size: 14px;
}
.quote-poster-name {
    font-weight: 500;
    font-size: 14px;
}

@media screen and (max-width: 1025px) {
    .sl-content {
        width: 89%;
    }
}

@media screen and (max-width: 950px) {
    .sl-container {
        flex-direction: column;
    }
    .sl-content-container {
        margin-bottom: 50px;
    }
    .sl-content {
        width: 55%;
    }

    .sl-quote-container {
        height: 100%;
        padding-block: 50px;
    }
    .quote-info {
        width: 80%;
    }
}

@media screen and (max-width: 840px) {
    .sl-content {
        width: 70%;
    }
}

@media screen and (max-width: 680px) {
    .sl-content {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .sl-content {
        width: 90%;
    }
    .quote-info {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .sl-head .backToCamp {
        font-size: 14px;
        text-align: right;
    }
}
