@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --white: #fff;
    --text-gray: rgba(70, 70, 70, 0.8);
    --black: black;
    --main-text-size: 35px;
    --main-text-bold: 600;
    --main-text-lineheight: 1.2em;
    --background: #f7efef;
    --light-gray: #e9ecef;
    --place-center: 30px auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-gray);
}

.global-btn {
    outline: 0;
    border: 0;
    background-color: var(--black);
    font-weight: 500;
    font-size: 16px;
    padding: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease;
}
.global-btn:hover,
.global-btn:active {
    background-color: rgba(0, 0, 0, 0.75);
}

.link-btn {
    text-decoration: none;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    color: rgb(119, 119, 119);
    cursor: pointer;
    transition: all 100ms ease;
}
.link-btn:hover,
.link-btn:active {
    font-size: 17px;
}

.link {
    background-color: transparent;
    border: 0;
    outline: 0;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
    transition: all 100ms ease;
    font-size: 16.5px;
    transition: all 0.3s ease;
}
.link:hover {
    font-size: 17px;
    font-weight: 600;
}
